{% extends 'core/base.html' %}

{% block title %}
  Lista de Productos
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Inventario de Productos</h1>
    <a href="{% url 'productos:crear' %}" class="btn btn-primary" hx-get="{% url 'productos:crear' %}" hx-target="#dialog">Añadir Producto</a>
  </div>

  <div class="mb-3">
    <input type="search" name="q" class="form-control" placeholder="Buscar por nombre o código..." hx-get="{% url 'productos:lista' %}" hx-trigger="keyup changed delay:500ms" hx-target="#product-table-container" hx-swap="innerHTML" />
  </div>

  <div class="table-responsive" id="product-table-container">
    {% include 'productos/partials/tabla_productos.html' %}
  </div>
{% endblock %}
